body
{
    margin: 0px;
    font-family: "Roboto",Verdana, Geneva, Tahoma, sans-serif;
}

#container
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color:#d1e0e9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-height: 100vh;
    background-image: url('images/nature-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

header
{
    padding: 40px 0px 40px 0px;
    color: white;
}

main
{
    flex: 1;
}

#input_view
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-bottom: 100px;
}

#input_view > div
{
    position: sticky;
    top: 0px;
}

#input_view p
{
    font-size: 18px;
    color: white;
    max-width: 600px;
    margin-bottom: 30px;
}

#result_view
{
    display: none;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f1faff;
    box-shadow: 0px -10px 10px 1px rgba(0, 0, 0, 0.3);
}

#canvas_wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 840px;
    margin: auto;
}

#canvas_legend
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 5px;
}

.legend_color
{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

#legend_color_max
{
    background-color: red;
}

#legend_color_avg
{
    background-color: green;
}

#legend_color_min
{
    background-color: blue;
}

#canvas_legend > div
{
    width: 100%;
    text-align: left;
}

#canvas_legend > div > span
{
    font-size: 10px;
}

canvas
{
    width: 820px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

button 
{
    background-color: #2e97ff;
    cursor: pointer;
    padding: 1.2em 2.4em 1.2em 2.4em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    border: 0;
}

button span 
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  height: 19px;
}

button:hover 
{
  background-color: #0180ff;
}

select, ::picker(select)
{
    appearance: base-select;
    border: 1px solid #cccccc;
}

select
{
    font-size: 16px;
    border-radius: 0px;
    padding: 1.2em 2.4em 1.2em 2.4em;
    background-color: white;
}

#month_select
{
    width: 230px;
    margin-right: 20px;
}

#year_select
{
    width: 150px;
}

option
{
    font-size: 14px;
    padding: 10px;
}

.form_group
{
    position: relative;
    margin-bottom: 1.5em;
    display: inline-block;
}

.form_input
{
    font-family: "Roboto",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 1.2em 2.4em 1.2em 2.4em;
    border: 0;
}

.form_input:focus
{
    outline: none;
}

#suggestions
{
    display: none;
    position: absolute;
    font-size: 14px;
    border: 0;
    width: 250px;
    max-height: 200px;
    overflow-y: auto;    
    background-color: white;
    z-index: 100;    
    text-align: left;
}

#suggestions div
{
    padding: 10px 10px;
    cursor: pointer;
}

#suggestions div:hover
{
    background-color: #eeeeee;
}

#station_info
{
    font-size: 14px;
}

#input_container
{
    position: relative;
}

#search_error
{
    position: absolute;
    top: 160px;
    width: 100%;
}

#canvas_container
{
    position: relative;
}

#station_select::picker
{
    border: 1px solid #cccccc;
}

#station_select_container
{
    position: absolute;
    top: 20px;
    width: 100%;
}

#station_select_container select
{
    border: 1px solid #cccccc;
}

#weather_data
{
    display: none;
}

table
{
    border-collapse: collapse;
    margin: auto;
    background-color: white;
}

table, th, td
{
    border: 1px solid #cccccc;
    padding: 5px;
    text-align: center;
}

footer
{
    width: 100%;
    color: white;
    background-color:#2e97ff
}

#created_by
{
    font-size: 14px;
}